<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcbWeld.information.dao.MaterialItemInputDao">

    <select id="get" resultType="com.pcbWeld.information.domain.MaterialItemInputDO">
		select `id`,`item_id`,`price`,`scope`,`count_way`,`create_time` from pcb_material_item_input where id = #{value}
	</select>

    <select id="list" resultType="com.pcbWeld.information.domain.MaterialItemInputDO">
        select `id`,`item_id`,`price`,`scope`,`count_way`,`create_time` from pcb_material_item_input
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="itemId != null and itemId != ''">and item_id = #{itemId}</if>
            <if test="price != null and price != ''">and price = #{price}</if>
            <if test="scope != null and scope != ''">and scope = #{scope}</if>
            <if test="countWay != null and countWay != ''">and count_way = #{countWay}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from pcb_material_item_input
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="itemId != null and itemId != ''">and item_id = #{itemId}</if>
            <if test="price != null and price != ''">and price = #{price}</if>
            <if test="scope != null and scope != ''">and scope = #{scope}</if>
            <if test="countWay != null and countWay != ''">and count_way = #{countWay}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.pcbWeld.information.domain.MaterialItemInputDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into pcb_material_item_input
		(
			`item_id`, 
			`price`, 
			`scope`, 
			`count_way`, 
			`create_time`
		)
		values
		(
			#{itemId}, 
			#{price}, 
			#{scope}, 
			#{countWay}, 
			#{createTime}
		)
	</insert>

    <update id="update" parameterType="com.pcbWeld.information.domain.MaterialItemInputDO">
        update pcb_material_item_input
        <set>
            <if test="itemId != null">`item_id` = #{itemId},</if>
            <if test="price != null">`price` = #{price},</if>
            <if test="scope != null">`scope` = #{scope},</if>
            <if test="countWay != null">`count_way` = #{countWay},</if>
            <if test="createTime != null">`create_time` = #{createTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from pcb_material_item_input where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from pcb_material_item_input where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>