<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcbWeld.information.dao.MaterialParameterDao">

	<select id="get" resultType="com.pcbWeld.information.domain.MaterialParameterDO">
		select `id`,`item_id`,`parameter_name`,`specification_name`,`price`,`create_time`,`create_by`,`update_time`,`status` from pcb_material_parameter where id = #{value}
	</select>

	<select id="list" resultType="com.pcbWeld.information.domain.MaterialParameterDO">
		select `id`,`item_id`,`parameter_name`,`specification_name`,`price`,`create_time`,`create_by`,`update_time`,`status` from pcb_material_parameter
        <where>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="itemId != null and itemId != ''"> and item_id = #{itemId} </if>
		  		  <if test="parameterName != null and parameterName != ''"> and parameter_name = #{parameterName} </if>
		  		  <if test="specificationName != null and specificationName != ''"> and specification_name = #{specificationName} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from pcb_material_parameter
		 <where>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="itemId != null and itemId != ''"> and item_id = #{itemId} </if>
		  		  <if test="parameterName != null and parameterName != ''"> and parameter_name = #{parameterName} </if>
		  		  <if test="specificationName != null and specificationName != ''"> and specification_name = #{specificationName} </if>
		  		  <if test="price != null and price != ''"> and price = #{price} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.pcbWeld.information.domain.MaterialParameterDO" useGeneratedKeys="true" keyProperty="id">
		insert into pcb_material_parameter
		(
			`item_id`, 
			`parameter_name`, 
			`specification_name`, 
			`price`, 
			`create_time`, 
			`create_by`, 
			`update_time`, 
			`status`
		)
		values
		(
			#{itemId}, 
			#{parameterName}, 
			#{specificationName}, 
			#{price}, 
			#{createTime}, 
			#{createBy}, 
			#{updateTime}, 
			#{status}
		)
	</insert>

	<update id="update" parameterType="com.pcbWeld.information.domain.MaterialParameterDO">
		update pcb_material_parameter
		<set>
			<if test="itemId != null">`item_id` = #{itemId}, </if>
			<if test="parameterName != null">`parameter_name` = #{parameterName}, </if>
			<if test="specificationName != null">`specification_name` = #{specificationName}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from pcb_material_parameter where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from pcb_material_parameter where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>