<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pcbWeld.information.dao.ReceiptDao">



    <update id="saveReceipt" parameterType="com.pcbWeld.owneruser.domain.OwnerUserDO">
        update t_user
        <set>
            <if test="receiptCompany != null">`receipt_company` = #{receiptCompany}, </if>
            <if test="receiptNumber != null">`receipt_number` = #{receiptNumber}, </if>
            <if test="receiptBank != null">`receipt_bank` = #{receiptBank}, </if>
            <if test="receiptAccount != null">`receipt_account` = #{receiptAccount}, </if>
            <if test="receiptPhone != null">`receipt_phone` = #{receiptPhone},</if>
            <if test="receiptAddress != null">`receipt_address` = #{receiptAddress}</if>
        </set>
        where id = #{id}
    </update>

    <select id="getReceipt" resultType="com.pcbWeld.owneruser.domain.OwnerUserDO">
      select  receipt_company,receipt_number,receipt_bank,receipt_account,receipt_phone,receipt_address from t_user where id=#{id}
    </select>

    <insert id="save" parameterType="com.pcbWeld.information.domain.ReceiptDO" useGeneratedKeys="true" keyProperty="id">
        insert into pcb_receipt
        (
        `order_nos`,
        `user_id`,
        `create_time`,
        `address`,
        `mobile`,
        `receipt_company`,
        `receipt_number`,
        `receipt_bank`,
        `receipt_account`,
        `receipt_phone`,
        `receipt_address`,
        `pay_amount`,
         receipt_status,
          consignee
        )
        values
        (
        #{orderNos},
        #{userId},
        #{createTime},
        #{address},
        #{mobile},
        #{receiptCompany},
        #{receiptNumber},
        #{receiptBank},
        #{receiptAccount},
        #{receiptPhone},
        #{receiptAddress},
        #{payAmount},
        #{receiptStatus},
        #{consignee}
        )
    </insert>

    <select id="list" resultType="com.pcbWeld.information.domain.ReceiptDO">
        select `id`,`order_nos`,`user_id`,`create_time`,`address`,`mobile`,`receipt_company`,`receipt_number`,`receipt_bank`,`receipt_account`,`receipt_phone`,`receipt_address`,`pay_amount` from pcb_receipt
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="orderNos != null and orderNos != ''"> and order_nos = #{orderNos} </if>
            <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
            <if test="address != null and address != ''"> and address = #{address} </if>
            <if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
            <if test="receiptCompany != null and receiptCompany != ''"> and receipt_company = #{receiptCompany} </if>
            <if test="receiptNumber != null and receiptNumber != ''"> and receipt_number = #{receiptNumber} </if>
            <if test="receiptBank != null and receiptBank != ''"> and receipt_bank = #{receiptBank} </if>
            <if test="receiptAccount != null and receiptAccount != ''"> and receipt_account = #{receiptAccount} </if>
            <if test="receiptPhone != null and receiptPhone != ''"> and receipt_phone = #{receiptPhone} </if>
            <if test="receiptAddress != null and receiptAddress != ''"> and receipt_address = #{receiptAddress} </if>
            <if test="payAmount != null and payAmount != ''"> and pay_amount = #{payAmount} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
    </select>
</mapper>