<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						
						<form class="form-horizontal m-t" id="signupForm">
								<input id="id" name="id" th:value="${news.id}"  type="hidden">
																																			<div class="form-group">	
								<label class="col-sm-1 control-label">专家姓名：</label>
								<div class="col-sm-4">
									<select class="form-control" name="uId" disabled="disabled">
                        			 	<option></option>
                        				<option  th:each="list:${list}" th:value="${list.id}" th:text="${list.doctorName }" th:selected="${news.uId == list.id}"></option>
                    				</select>
								</div>
							</div>
																											
																												<div class="form-group">	
								<label class="col-sm-1 control-label">标题：</label>
								<div class="col-sm-4">
									<input id="title" name="title" th:value="${news.title}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group" >	
								<label class="col-sm-1 control-label">文章图片：</label>
								<div class="col-sm-4" >
									<input class="form-control" id="picItems" style="display: none;" type="file" name="picItems" onchange="udpateFileUrl(this)" readonly="readonly"/>
									<label for="picItems"><img width="100" height="100" id="fileImgimgFile" alt="点击上传图片" th:src="${news.tupianurl}"></label>
									<span style="color: red;">(750*718)</span>
								</div>
							</div>																			<div class="form-group">	
								
								<input id="content" name="content" type="hidden" th:value="${news.content}"> 
								<label class="col-sm-1 control-label">内容：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote" ></div>
									</div>
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/news/edit.js"></script>
	
</body>
</html>
