<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" th:value="${materialExamine.id}"
								type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">用户id：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId"
										th:value="${materialExamine.userId}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">订单id：</label>
								<div class="col-sm-8">
									<input id="orderId" name="orderId"
										th:value="${materialExamine.orderId}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">附件：</label>
								<div class="col-sm-8">
									<input id="files" name="files"
										th:value="${materialExamine.files}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">订单金额：</label>
								<div class="col-sm-8">
									<input id="orderMoney" name="orderMoney"
										th:value="${materialExamine.orderMoney}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">审核状态1：未审核2：已审核3：审核不通过：</label>
								<div class="col-sm-8">
									<input id="examineFlag" name="examineFlag"
										th:value="${materialExamine.examineFlag}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">审核备注/意见：</label>
								<div class="col-sm-8">
									<input id="examineIdea" name="examineIdea"
										th:value="${materialExamine.examineIdea}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">添加时间：</label>
								<div class="col-sm-8">
									<input id="addTime" name="addTime"
										th:value="${materialExamine.addTime}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">更新时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime"
										th:value="${materialExamine.updateTime}" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">类型1：附件2：物料：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${materialExamine.type}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		src="/js/appjs/information/materialExamine/edit.js">
		
	</script>
</body>
</html>
