<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${receipt.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">订单编号：</label>
								<div class="col-sm-8">
									<input id="orderNos" name="orderNos" th:value="${receipt.orderNos}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用户ID：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${receipt.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${receipt.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">接收发票地址：</label>
								<div class="col-sm-8">
									<input id="address" name="address" th:value="${receipt.address}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">个人联系电话：</label>
								<div class="col-sm-8">
									<input id="mobile" name="mobile" th:value="${receipt.mobile}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开票公司名称：</label>
								<div class="col-sm-8">
									<input id="receiptCompany" name="receiptCompany" th:value="${receipt.receiptCompany}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开票税号：</label>
								<div class="col-sm-8">
									<input id="receiptNumber" name="receiptNumber" th:value="${receipt.receiptNumber}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开户行：</label>
								<div class="col-sm-8">
									<input id="receiptBank" name="receiptBank" th:value="${receipt.receiptBank}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开户账户：</label>
								<div class="col-sm-8">
									<input id="receiptAccount" name="receiptAccount" th:value="${receipt.receiptAccount}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开户联系电话：</label>
								<div class="col-sm-8">
									<input id="receiptPhone" name="receiptPhone" th:value="${receipt.receiptPhone}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开票公司联系地址：</label>
								<div class="col-sm-8">
									<input id="receiptAddress" name="receiptAddress" th:value="${receipt.receiptAddress}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发票金额：</label>
								<div class="col-sm-8">
									<input id="payAmount" name="payAmount" th:value="${receipt.payAmount}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/receipt/edit.js">
	</script>
</body>
</html>
